section
{
  text-align: center;
}

.img
{
  object-fit: contain;
  width: 400px;
}

.img>img
{
  width: 100%;
  height: 100%;
}

.content
{
  margin-top: 30px;
}

.name
{
  margin-top: 20px;
}

.name h1
{
  font-size: 70px;
  background: linear-gradient(180deg, #FFFFFF 25.07%, #EFEFEF 52.61%, #B0B6BF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title
{
  text-align: center;
  padding: 0px 20%;
}

.title > p
{
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #B3B3B3;
}
