<section class="d-flex flex-column justify-content-evenly align-items-center">
  <div class="img">
    <img src="../../../../assets/img3.png" alt="a">
  </div>

  <div class="content">
    <div class="name">
      <h1>Hi, I'm Gokul Krishna</h1>
    </div>
    <div class="title">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni, ut numquam eum adipisci animi cumque harum suscipit recusandae, sequi fugiat est deserunt facere? Facere, rerum placeat! Maxime, totam deleniti?</p>
    </div>
  </div>

</section>
