<section>
  <br />
  <br />

  <div class="content">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="img">
          <img src="../../../../assets/img2.2.png" alt="" />
        </div>
      </div>

      <div class="col-lg-8 col-12">
        <div class="title">
          <h2>About Me</h2>
        </div>
        <br />
        <p>
          Hello there! I'm Parvathy, a passionate software engineer with a keen
          interest in crafting robust and scalable solutions using Java and
          Spring Boot. With three years of hands-on experience in the world of
          software development, I've had the privilege of working on diverse
          projects that have enriched my skills and deepened my understanding of
          the intricate art of coding. My journey in the realm of software
          engineering began with a solid foundation in Java, a language that
          I've grown to love for its versatility and efficiency. Over the past
          three years, I've honed my skills in developing enterprise-level
          applications, leveraging the power of Spring Boot to create efficient,
          modular, and maintainable code.My expertise extends across the entire
          software development lifecycle – from requirement analysis and design
          to implementation and testing. I thrive in collaborative environments,
          working seamlessly with cross-functional teams to bring innovative
          ideas to life. Whether it's building RESTful APIs, optimizing database
          performance, or troubleshooting complex issues, I approach each
          challenge with a solution-oriented mindset.
        </p>
      </div>
    </div>
  </div>
</section>
